
* {
    box-sizing: border-box;
}

body {
    background-color: #1d84b8;
    color: #ffffff;
    font-family: 
}

.figure-container {
    fill: #389ed1;
    stroke: #ffffff;
    stroke-width: 4px;
    stroke-linecap: round;
}

.figure-part {
    display: none;
}